[push]
    default = simple
    autoSetupRemote = true
[core]
    excludesFile = ~/.git/.gitignore
    autocrlf = input
[alias]
    unstage = reset HEAD --
    rollback = reset HEAD^
    logv = log --graph
    co = checkout
    bl = branch -l
[advice]
    addIgnoredFile = false
[pull]
    rebase = true
[init]
    defaultBranch = main
