[user]
    email = mjmor@umich.edu
    name = Maxwell Morgan
[push]
    default = simple
    autoSetupRemote = true
[core]
    excludesfile = ~/.gitignore
[alias]
    unstage = reset HEAD --
    rollback = reset HEAD^
    logv = log --graph
    co = checkout
[advice]
    addIgnoredFile = false
[pull]
    rebase = true
