[push]
    default = simple
    autoSetupRemote = true
[core]
    excludesfile = ~/.gitignore
    autocrlf = input
[alias]
    unstage = reset HEAD --
    rollback = reset HEAD^
    logv = log --graph
    co = checkout
[advice]
    addIgnoredFile = false
[pull]
    rebase = true
